@import '../../../sass/mixin.scss';

:host {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(40) 0;

    img {
      max-width: rem(300);
    }

    div {
      margin: rem(20);
      width: 100%;
    }
  }
}
