<poke-nav></poke-nav>

<section>
  <div class="pokemon__names">
    <h1>{{ pokemon[0].name }}</h1>
    <h2>{{ pokemon[1].names[0].name }}</h2>
  </div>

  <div class="pokemon__status">
    <img
    [src]="pokemon[0].sprites.other.dream_world.front_default"
    [alt]="pokemon[0].name">
  </div>

  <div class="pokemon__status__statistics">
    <div>
      <h3>Estatísticas</h3>

      <ol>
        <li *ngFor="let item of pokemon[0].stats">
            {{ item.stat.name }}
          <strong>
            {{ item.base_stat }}
          </strong>
        </li>
      </ol>
    </div>
  </div>
  <a [routerLink]="['']" class="btn btn__secondary">Voltar</a>
</section>
