<poke-nav></poke-nav>

<section>
  <ng-template [ngIf]="!loading">
    <poke-error *ngIf="error"></poke-error>
    <poke-loading *ngIf="!error"></poke-loading>
  </ng-template>


  <ng-template [ngIf]="loading">
  <div class="pokemon__names">
  <h1 class="fadeInLeft">{{pokemon[0].name}}</h1>
  <h2 class="fadeInRight">{{pokemon[1].names[0].name}}</h2>
  </div>

  <div class="pokemon__status">
    <img
      [src]="pokemon[0].sprites.other.dream_world.front_default"
      [alt]="pokemon[0].name"
      class="fadeInDown"
    >

    <article class="pokemon__status__statistics fadeIn">
      <div>
        <h3>Estatísticas</h3>

        <ol>
          <li *ngFor="let value of pokemon[0].stats">
              {{ value.stat.name }}

            <strong>
              {{ value.base_stat }}
            </strong>
          </li>
        </ol>
      </div>

      <a [routerLink]="['']">
        ↩ Voltar
      </a>
    </article>
  </div>
  </ng-template>
</section>
