
<ng-template [ngIf]="!loading">
  <poke-error *ngIf="error"></poke-error>
  <poke-loading *ngIf="!error"></poke-loading>
</ng-template>

<ng-template [ngIf]="loading">
<div class="search fadeIn">
  <poke-search (emitSearch)="getSearch($event)"></poke-search>
</div>

<div class="listagem" [ngClass]="direction">
  <a (click)="navDetails(item.status?.id)" class="pokemon"
  *ngFor="let item of listAllPokemon">
    <div class="pokemon__status">
      <h2>{{ item.name }}</h2>

      <ul>
        <li *ngFor="let types of item.status?.types">
          {{ types.type.name }}
        </li>
      </ul>
    </div>

    <div class="pokemon__image">
      <img [src]="item.status?.sprites.other.dream_world.front_default"
      [alt]="item.name">
    </div>
  </a>
</div>
</ng-template>
<div>
  <mat-paginator
  [length]="800"
  [pageSize]="20"
  (page)="chancePage($event)">
</mat-paginator>
</div>

