@import './sass/variaveis.scss';
@import './sass/reset.scss';
@import './sass/mixin.scss';

html {
  font-family: 'Roboto', sem serifa;
  background-color: var(--primaria-azul);
}

section {
  max-width: rem(600);
  padding: rem(20);
  margin: 0 auto;
  box-sizing: border-box;
}

strong {
  font-weight: 900;
}
